<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>DynProj_02</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletDemo_01</display-name>
    <servlet-name>ServletDemo_01</servlet-name>
    <servlet-class>com.dxc.servlet.ServletDemo_01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo_01</servlet-name>
    <url-pattern>/sd1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestProcessor</display-name>
    <servlet-name>RequestProcessor</servlet-name>
    <servlet-class>com.dxc.servlet.RequestProcessor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestProcessor</servlet-name>
    <url-pattern>/reqpro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReqResponse</display-name>
    <servlet-name>ReqResponse</servlet-name>
    <servlet-class>com.dxc.servlet.ReqResponse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReqResponse</servlet-name>
    <url-pattern>/reqres</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.dxc.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Success</display-name>
    <servlet-name>Success</servlet-name>
    <servlet-class>com.dxc.servlet.Success</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Success</servlet-name>
    <url-pattern>/success</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JdbcServlet</display-name>
    <servlet-name>JdbcServlet</servlet-name>
    <servlet-class>com.dxc.servlet.JdbcServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JdbcServlet</servlet-name>
    <url-pattern>/jdbcser</url-pattern>
  </servlet-mapping>
</web-app>